@model GDoc.Models.TipoTelefone

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>TipoTelefone</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Alterar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar para Listagem", "Index")
</p>
